* {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* utiliy */
.container {
    width: 70%;
    max-width: 1152px;
    margin: 0 auto;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}


:root {
    --db-palet: #b4d0e7;
    --db-dark: #000000;
    --db-light: #ffffff;
    --db-btn: #0061ff;
}

/* ./endutility */








/*Header */

#app-header {
    padding: 0 1rem;
    display: flex;
    /* DEBUG */
    background-color: var(--db-light);
}

.left-nav {
    width: 50%;
    text-align: left;
    /* DEBUG */
    background-color: orange;
    border: 2px dashed black;
    padding: 1.5rem;
}

.right-nav {
    width: 50%;
    text-align: right;
    /* DEBUG */
    background-color: orange;
    border: 2px dashed black;
    padding: 1.5rem;
}

/*./endHeader */


/* Main */
.utility-work {
    width: 100%;
    /* DEBUG */
    height: 550px;
    padding: 1rem;

    background-color: lightskyblue;
}

.col {
    width: 100%;
    /* DEBUG */
    height: 500px;
    background-color: green;
}

.plans {
    width: 100%;
    padding: 1rem 0;
    /* DEBUG */
    background-color: var(--db-btn);

}

.row {
    width: 100%;
    /* DEBUG */
    background-color: red;
}


.col-4 {
    width: calc(100%/12 * 4);

    /* DEBUG */
    background-color: red;
    border: 1px dashed;
    height: 500px;
}

.col-12 {

    /* DEBUG */
    background-color: orange;
    border: 2px dashed black;
    height: 200px;
}

.partner {
    width: 100%;
    padding: 1rem 0;
    /* DEBUG */
    background-color: var(--db-btn);

}

.row-card {
    display: flex;
    flex-wrap: wrap;
    /* DEBUG */
    background-color: blue;
}


.col-6 {
    width: calc(100% / 18 * 6);
    padding: 0.5rem;

    /* DEBUG */
    background-color: orange;
    height: 500px;
    border: 2px dashed black;
}

.team {
    padding: 1rem 0;
    background-color: #b4d0e7;
}


.teams {
    width: 100%;
    /* DEBUG */
    background-color: red;
    height: 500px;
}

.teams-group {
width: 100%;
height: 500px;
background-color: rgb(127, 138, 255);
padding: 1rem 0;
}



.row-teams {
    width: 100%;
    height: 400px;
    background-color: rgb(128, 0, 51);
}

.image-left {
    width: 33%;
    background-color: aquamarine;
    border: 2px dashed black;
}
.image-center {
    width: 34%;
    background-color: #0061ff;
    border: 2px dashed black;
}
.image-right {
    width:33%;
    background-color: rgb(7, 39, 28);
    border: 2px dashed black;
}








.invitation-drop {
    padding: 1rem 0;
    width: 100%;

    height: 300px;
    background-color: var(--db-palet);
}

.chenge-drop {
    /* DEBUG */
    height: 250px;
    background-color: green;
}


.requests {
    padding: 1rem 0;
    width: 100%;
    /* DEBUG */
    height: 500px;
    background-color: var(--db-palet);
}

.frequent-questions {
    /* DEBUG */
    height: 450px;
    background-color: rgb(3, 28, 3);
}







/* endMain */









/* footer */
.section-footer {
    background-color: var(--db-dark);
    /* DEBUG */
    padding: 3rem 0;

}

.top {
    /* DEBUG */
    height: 400px;
    border: 2px dashed black;
}


.item {
    width: calc(100% /4);
    /* DEBUG */
    border: 2px dashed black;
    background-color: #0061ff;
    list-style: none;

}